---
import Layout from '../../layouts/Layout.astro';
import ProjectList from '../../components/ProjectList';

const cfAuth = Astro.cookies.get('CF_Authorization')?.value;
const isLoggedIn = !!cfAuth;
---

<Layout title="Projects">
  <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
    <h1 style="font-size: 2rem;">Projects</h1>
  </div>

  <ProjectList client:load isLoggedIn={isLoggedIn} />
</Layout>
